//----------BODY----------//
body {
    h1, h2, h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }
    p {
        font-size: 16px;
    }
    .capital {
        text-transform: capitalize;
    }
    .capslock {
        text-transform: uppercase;
    }
    background-color: $putih;
}