//----------VARIABLE----------//
$biru: #264C84; 
$biru-muda: #47A1DE;
$putih: #fff;
$hitam: #212121;
$orange: #EE7E32;
$merah: #CC0000;
$grey: #ECECEC;
$hijau: #27AE60;
$gradien-grey: #EBEBEB, #ECECEC, #EDEDED, #EEEEEE, #EFEFEF, #F0F0F0;
$shadow-post: 0px 0px 10px rgba(41, 41,42, .5);
$shadow-dropdown: 0 6px 12px rgba(0,0,0,.175);